<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px">
    <div class="md-form"> 
        <label for="form1" class="">Date Debut: </label> 
        <input type="date" id="form1" class="form-control" aria-describedby="material-addon2"> 
    </div>
    <div class="md-form"> 
        <label for="form1" class="">Date Fin: </label> 
        <input type="date" id="form2" class="form-control" aria-describedby="material-addon2"> 
    </div>

    <div class="md-form"> 
        <a class="mat-raised-button" mat-raised-button> Charger</a> 
    </div>
</div>

<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="20px" style="margin-bottom: 3rem">
    <div fxFlex>
        <app-stat [bgClass]="'danger'" [icon]="'view_list'" [count]="13" [label]="'Nbre Transactions!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'warn'" [icon]="'play_for_work'" [count]="12" [label]="'CASH IN!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'success'" [icon]="'open_in_browser'" [count]="124" [label]="'CASH OUT!'"></app-stat>
    </div>
    <div fxFlex>
        <app-stat [bgClass]="'info'" [icon]="'payment'" [count]="13" [label]="'COMMISSIONS!'"></app-stat>
    </div>
</div>


    <div fxFlex *ngFor="let item of places" fxLayout="col-md-3 col-sm-4 col-xs-12">
        <mat-card>
            <img mat-card-image [src]="item.imgSrc">
            <mat-card-header style="justify-content: center">
                <mat-card-title>
                    <h3 class="m-0">{{item.place}}</h3>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p> 
                    {{item.description}}
                </p>
            </mat-card-content>

            <mat-card-actions>
                <button mat-button>{{item.charge}}</button>
                <button mat-button>
                    <mat-icon class="nav-icon">location_on</mat-icon> {{item.location}}
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
